.container
    background: white
    padding-left: 1em
    padding-top: 1em
    width: 40%
    height: 92.64vh

.user
    display: flex
    align-items: center
    gap: 1em

.user h3
    margin: 0

.user img
    max-width: 50px